*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 800px;
	height: auto;
	padding: 5px;
	margin: 20px auto;
}

.user-messages {
	display: flex;
	flex-flow: column wrap;
}

.server-messages, a {
	cursor: pointer;
	text-decoration: none
}

.server-messages:hover, a:hover {
	color: rgb(22,22,22);
}

.geo-location {
	margin-left: 3px;
}

.form-chat {
	display: flex;
	justify-content: space-between;
}

.form-input {
	border: 1px solid #222222;
    padding: 5px 5px;
	width: 80%;
	margin-right: 5px;
	outline: none;
}

.form-btn {
	border: none;
	background-color: rgb(22,22,22);
	padding: 1px 1px;
	width: 30%;
	cursor: pointer; 
	color: white;
}

.wrapper-chat {
	overflow: auto;
	border: 1px solid #222222;
	padding: 2px;
	margin-top: 10px;
	height: 500px;
}
 .messages {
	border: 1px solid #222222;
	border-radius: 20px;
	padding: 8px;
	margin-bottom: 5px;
	align-self: flex-end;
} 
